// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.virtual-sect {
  &__text {
    font-size: 16px;
  }
  &__title {
    margin: 0 0 45px;
  }
  &__descr {

    &.last {

    }
  }
  &__img {
    width: 390px;
  }
  &__text-block {
    width: 278px;
    font-size: 32px;
    > .b {
 
    }
  }
  &__features {
    position: relative;
    > .slick-list {
      margin: auto;
      width: 587px;
      overflow: hidden;
      z-index: 1;
    }
    &-wrap {
      margin-top: 90px;
    }
  }
}

.features {
  &__nav {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: space-between;
  }
  &__counter {
    display: none;
  }
}

.feat {
  width: (587px - 40px) / 3;
  &.last {

  }
  &__img {

  }
  &__title {

  }
}
