// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.article {
  padding: 35px calc(50% - 344px) 0;
  font-size: 16px;
  &__title {
    font-size: 32px;
  }

  &__date {}

  &__thumbnail {}

  img {}

  // h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: .2em 0;
    margin: .5em 0;
  }

  h1 {}

  h2 {}

  h3 {}

  h4 {}

  h5 {}

  h6 {}

  p {
    padding: 6.5px 0;
    margin: .55em 0;
  }

  ul {
    >li {
      &::before {}
    }
  }

  ol {


    >li {


      &::before {}
    }
  }

  figure {}

  table {}

  td {


    >strong {}
  }

  figcaption {}

  .blocks-gallery-grid>li::before {}
}