// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

#filter-form-call-btn:focus,
.filter-form__reset:focus,
.btn:focus,
.details__btn:focus,
.quiz__prev:focus,
.details__text:focus,
.turnkey-sect__btn:focus,
.turnkey-sect__tab-cnt:focus,
.news-sect__loadmore:focus,
.arrow:focus,
.check:focus-within,
.fileupload:focus-within,
.quiz__radio:focus-within,
.quiz__text:focus-within,
.post:focus-within,
.quiz__select:focus-within {
  outline: 1px dotted $black;
}

.house__img {
  &.lazy {
    background: url('../img/img-placeholder.svg') center/cover no-repeat;
  }
}

.nav__link {
  transition: border-bottom-color .5s;
  border-bottom: 1px solid transparent;
}

.tooltip {
  margin: 0 0 2px 5px;
  width: 12px;
  height: 12px;
  display: inline-flex;
  vertical-align: middle;
  position: relative;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 8px;
    line-height: 1em;
    border: 1px solid $black;
    border-radius: 50%;
    z-index: 1;
    user-select: none;
  }

  &-text {
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    font: lighter 10px/130% Montserrat;
    color: $black;
    background: $lightgrey;
    border-radius: 5px;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    white-space: nowrap;
  }
}

.tooltip-icon:hover~.tooltip-text {
  opacity: 1;
  visibility: visible;
}

.loadmore {
  margin: 40px auto 0;
  display: block;
  font: 500 18px/100% Montserrat;
  text-align: center;
  position: relative;

  &::after {
    // Часть стилей переехали в forms.scss
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s;
  }

  &__text {
    transition: opacity 0.5s;
    pointer-events: none;
  }

  &__icon {
    margin: 10px auto 0;
    display: block;
    width: 36px;
    height: 10px;
    object-fit: contain;
    transition: opacity 0.5s;
    pointer-events: none;
  }

  &[hidden] {
    display: none;
  }

  &.loading {
    pointer-events: none;

    >.loadmore__text,
    >.loadmore__icon {
      opacity: .5;
    }

    &::after {
      opacity: 1;
    }
  }
}

[hidden],
.quiz__body[hidden] {
  display: none;
}

a[href="#"] {
  opacity: .5;
  pointer-events: none;
}

body.no-scroll {
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: column;
}

.cf7-form-field {
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
}

#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;

  &.active {
    display: block;
  }
}

.text_underline,
.link__text {
  border-bottom: 1px solid;
  transition: border-bottom-color .5s;
}

.sect {

  // стили переехали в assets/grid.scss
  &_bg {}

  &-title {
    font: bold 24px/140% Montserrat;
  }

  &-descr {
    font: 14px/140% Montserrat;
  }
}

.link {
  color: $darkgrey;

  &__text {}

  &__arrow {
    padding-left: 3px;
    transition: transform .5s;
  }
}

.house {
  display: inline-flex;
  flex-flow: column;
  overflow: hidden;

  &__link {
    padding: 15px 0 0;
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.85);
    order: 10;
    position: relative;
    z-index: 1;
  }

  &__title {
    margin: 0 0 15px;
    display: flex;
    align-items: flex-start;
    font-size: 16px;

    &::after {
      content: '';
      margin: 0 0 0 10px;
      flex-shrink: 0;
      display: inline-block;
      width: 24px;
      height: 20px;
      background: url('../img/icon-arrow.svg') center/contain no-repeat;
    }
  }

  &__descr {
    display: flex;
    flex-flow: column;
    font: 10px/160% Montserrat;
  }

  &__img {
    display: block;
    // transition: transform .5s linear;
  }

  &__row {
    height: 20px;
    display: flex;
    align-items: center;

    &.material {
      order: 1;
    }

    &.ploshhad-doma {
      order: 2;
    }

    &.etazhi {
      order: 3;
    }
  }

  &__left-col {}

  &__right-col {
    margin: 0 0 0 auto;
    font-weight: 500;
    font-size: 12px;
  }

  &__img {
    width: 100%;
    min-height: 186.5px;
    // height: 100%;
    object-fit: cover;
  }
}

.post {
  margin: 0 0 45px;
  width: 280px;

  &:last-of-type {
    margin: 0;
  }

  &__img {
    margin: 0 0 25px;
    max-width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0 0 15px;
    font: bold 16px/140% Montserrat;
    transition: color 0.5s;
  }

  &__descr {
    margin: 0 0 25px;
    font: 14px/160% Montserrat;
  }

  &__date {
    font: 12px/100% Montserrat;
    color: $grey;
  }

  &__link {
    display: block;

    &:focus {
      outline: 0;
    }
  }
}

div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response,
.hidden {
  display: none !important;
}