// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';


.tooltip {
  &-icon {
    font-size: 9.5px;
  }
}

.sect {
  &_bg {

  }
  &-title {
    font-size: 30px;
  }
  &-descr {
    font-size: 16px;
  }
}

.house {
  position: relative;
  &__link {
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
  }
  &__title {
    &::after {
      margin: 0 0 0 30px;
    }
  }
  &__img {
    min-height: 360px;
  }
  &__descr {
    font-size: 12px;
  }
  &__row {
    height: 22px;
  }
  &__right-col {
    font-size: 14px;
  }
}


.post {
  width: (688px - 20px) / 2;
  padding: 0 20px;
  &:nth-child(n) {}
  &:last-child {}

  &__img {
    width: (688px - 20px) / 2;
    max-width: none;
    margin-left: -20px;
  }

  &__title {}

  &__descr {}

  &__date {}
}