// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.house {
  &__link {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  &__title {
    margin: 0 0 auto;
    padding-bottom: 10px;
  }

  &__img {
    min-height: 171px;
  }
}

.post {
  margin: 0 20px 45px 0;
  width: (536px - 20px) / 2;
  display: inline-block;
  vertical-align: top;
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:last-child {}

  &__img {
  }

  &__title {}

  &__descr {}

  &__date {}
}