// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

a[href="#"] {
  opacity: .5;
  pointer-events: none;
}

body.no-scroll {
  overflow: hidden;
}

// img.lazy {
//   background: url('../img/img-placeholder.svg') center/cover no-repeat;
// }


.cf7-form-field {
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
}

#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;
  &.active {
    display: block;
  }
}

.text_underline {
  border-bottom: 1px solid;
  transition: border-bottom-color .5s;
}

// .nav__list-item {
//   &.current {
//     cursor: not-allowed;
//     > .nav__link {
//       pointer-events: none;
//       > .nav__link-text {
//         border-bottom: 1px solid;
//       }
//     }
//   }
// }

.sect {
  color: $black;
  &_bg {

  }
  &-title {
    font: bold 24px/140% Montserrat;
  }
  &-descr {
    font: 14px/140% Montserrat;
  }
}

div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response,
.hidden {
  display: none !important;
}