// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.callback-form-wrap {
  width: 825px;
  height: 232px;
}

.callback-form {
  padding: 35px 25px;
  &__title {

  }
  &__field {
    width: 230px;
    > .field__text {

    }
  }
  &__field_name,
  &__field_tel {

  }
  &__field_tel {

  }
  &__field_email {

  }
  &__bottom {

  }
  &__btn {

  }
}

.callback-sect__text-block {
  padding: 35px 40px 40px;
  width: 400px;
  height: 232px;
  > .b {
    margin: 0 0 10px;
  }
}