// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.callback-form-wrap {
  margin-top: 40px;
}

.callback-form {
  padding: 40px;
  &__title {
    font-size: 19px;
  }
  &__field {

    > .field__text {

    }
  }
  &__field_name,
  &__field_tel {

  }
  &__field_tel {

  }
  &__field_email {

  }
  // &__bottom {
  //   width: auto;
  //   display: flex;
  //   align-items: center;
  // }
  // &__btn {
  //   margin: 0 0 0 auto;
  // }
}

.quiz-form,
.callback-form {
  &__bottom {
    width: auto;
    display: flex;
    align-items: center;
  }
  &__btn {
    margin: 0 0 0 auto;
  }
}

.callback-sect__text-block {
  padding: 25px;
  border-radius: 5px;
  > .b {
    font-size: 22px;
  }
}