// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.news-sect__loadmore::after,
.loader__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $green;
  border-left-color: $green;
  animation: spin .5s linear infinite;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  &__circle {
    margin: auto;
  }
}

.contacts-form,
.callback-form,
.quiz-form {
  &.loading {
    > .loader {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

label.invalid {
  position: absolute;
  left: 0;
  bottom: -20px;
  font: normal 10px/150% sans-serif;
  color: $error;
}

.field__inp.invalid,
.field__textarea.invalid {
  border-bottom-color: $error;
}

$checkbox_size: 13px;
$checkbox_margin_right: 10px;
$checkbox_text_width: calc(100% - #{$checkbox_size + $checkbox_margin_right});
// $checkbox_border_radius: 0;

@keyframes bg {
  from {
    background-image: linear-gradient(1deg, #fff, #fff);
  }

  to {
    background-image: url('../img/check.svg');
  }
}

.check {
  display: flex;
  cursor: pointer;

  &_tick {
    align-items: flex-start;
    max-width: 250px;
    flex-wrap: wrap;
    font: 12px/140% Montserrat;

    >.check__text {
      width: $checkbox_text_width;
    }

    >.check__inp {
      margin: 4px $checkbox_margin_right 0 0;
      width: $checkbox_size;
      height: $checkbox_size;
      background: transparent url('../img/check.svg') center/0 border-box no-repeat;
      transition: background .25s;
      pointer-events: none;

      &:checked {
        background-color: $green;
        background-size: 100%;
      }
    }
  }

  &_fill {
    align-items: center;

    >.check__text {}

    >.check__inp {
      margin: 0 10px 0 0;
      width: 10px;
      height: 10px;
      box-shadow: inset 0 0 0 10px $white;
      background: $green;
      border-radius: 2px;
      transition: box-shadow .5s;

      &:checked {
        box-shadow: inset 0 0 0 2px $white;
      }
    }
  }

  >label.invalid {
    position: static;
    margin: 4px 0 -4px $checkbox_size + $checkbox_margin_right;
    max-width: $checkbox_text_width;
    order: 10;

    &::after {
      display: none;
    }
  }

  &__inp {
    appearance: none;
    display: inline-flex;
    border: 1px solid;
    flex-shrink: 0;
  }

  &__text,
  &__link {
    display: inline-block;
  }
}

.field {
  display: inline-block;
  font: 16px/140% Montserrat;
  position: relative;

  &__textarea,
  &__inp {
    width: 100%;
    height: 25px;
    border: 0;
    padding: 0;
    background: 0 0;
    font: inherit;
    color: $black;
    border-bottom: 1px solid;
    transition: border-bottom-color .5s;

    &:focus,
    &.filled {
      // &:focus.valid,
      // &.filled.valid { 
      border-bottom-color: $black;

      ~.field__text {
        bottom: 17px;
        font-size: 11.5px;
      }
    }
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 1px;
    color: $grey;
    transition: bottom .25s, font-size .25s;
  }
}

.fileupload {
  // margin-bottom: 10px;
  // display: inline-block;
  font: 16px/140% Montserrat;
  position: relative;
  cursor: pointer;

  // &:focus-within {
  //   outline: 1px dotted;
  // }

  &__inp {
    width: 1px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    &::after {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url('../img/icon-paper-clip.svg') center/contain no-repeat;
      vertical-align: middle;
    }
  }

  &__text {}

  &__icon {}
}

.quiz__radio {
  display: flex;
  align-items: center;
  padding: 0 25px 0 10px;
  height: 60px;
  font: 16px/140% Montserrat;
  color: $black;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;

  &-inp {
    appearance: none;
    margin: 0 18px 0 0;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    background: $green;
    box-shadow: inset 0 0 0 10px $white;
    transition: box-shadow .5s, border-color .5s, background .5s .5s;

    &:checked {
      border-color: $green;
      background: $green !important;
      box-shadow: inset 0 0 0 5px $white;
    }
  }
}

.quiz__select,
.quiz__text {
  display: flex;
  align-items: center;
  height: 60px;
  font: 16px/140% Montserrat;
  color: $black;
  border: 1px solid;
  border-radius: 5px;
  position: relative;

  &-title {
    position: absolute;
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &-inp {
    appearance: none;
    height: 100%;
    width: 100%;
    padding-left: 48px;
    border: 0;
    background: 0 0;
    font: inherit;
  }
}

.uploadedfiles {
  font: 14px/140% Montserrat;
  color: $grey;

  &__file {
    display: inline-block;
    margin: 10px 10px 0 0;
    transition: color .5s;
  }

  &__file-text {
    padding-right: 4px;
    pointer-events: none;
  }

  &__file-icon {
    // pointer-events: none;
  }
}