// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

// Стили для карточек домов в interface.scss

.houses {
  padding-top: 20px;
  padding-bottom: 85px;
  font: 16px/140% Montserrat;
  position: relative;
  will-change: max-height, height;

  &-count {
    margin-top: -40px;
    width: 100%;
    padding: 10px;
    background: #E7E9E4;
    text-align: center;
    font: 14px/100% Montserrat;
    color: $darkgrey;
    &-num {

    }
  }

  &__loadmore {
    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }

    // margin: ;
    // position: absolute;
    // left: 50%;
    // bottom: -40px;
    // transform: translate(-50%, 100%);
  }

  &__filter {}

  &__cards {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: max-height .5s;
    will-change: max-height, height;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s, visibility .5s;
      z-index: 1;
    }

    &.loading {
      &::after {
        opacity: 1;
        visibility: visible;
      }

      >#loadmore-btn {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &__notfound {
    margin: 25px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 14px;

    &::before {
      content: '';
      display: block;
      width: 80px;
      height: 67px;
      background: url('../img/notfound.svg') center/contain no-repeat;
    }

    &-text {
      margin: 30px 0;
      width: 280px;
      color: #888;
    }

    &-btn {
      color: $green;
    }
  }
}

.projects,
.cases {
  &__house {
    margin: 20px auto 0;
    width: 280px;
    text-align: left;
  }
}

#filter-form-call-btn.clone,
.filter-form.clone {
  opacity: 0;
  pointer-events: none;
}

#filter-form-call-btn {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;

  &.fixed {
    padding: 10px 0;
    padding-right: inherit;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 40px;
    right: 0;
    background: $white;
    z-index: 1;
  }

}

.filter-form {
  display: block;
  padding: 0;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font: 18px/140% Montserrat;
  color: $darkgrey;
  z-index: 3;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    z-index: 1;
  }

  &.loading {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  // Подсказка с кнопкой показать
  &__hint {
    display: none;
  }

  &__hint-close {}

  &__hint-num {}

  &__hint-btn {}


  &__cnt {
    padding: 35px 20px;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    overflow-y: auto;
    background: $lightgrey;
  }

  &-hint {
    padding: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    color: $green;
    background: inherit;
    text-decoration: underline;
    transition: text-decoration-color .5s, top .25s;
    // transform: translateX(100%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    border-radius: 0 5px 5px 0;

    &::after {
      content: '('attr(data-count-houses)')';
      margin: 0 0 0 5px;
      text-decoration: none;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: $black;
  }

  &__close {
    position: fixed;
    right: 20px;
    top: 34px;
  }

  &__group {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    &#i43 {
      > .filter-form__check:last-child {
        order: -1;
      }
    }

    &#i132 {
      order: 9;
    }

    &:nth-child(n+2) {
      margin-top: 25px;
    }

    &.dropdown {
      max-height: 40px;
      overflow: hidden;
      transition: max-height .5s;
      will-change: max-height;

      >.filter-form__group-title {
        &::after {
          content: '';
          margin: 0 0 0 5px;
          display: inline-block;
          width: 9px;
          height: 9px;
          background: url('../img/icon-polygon.svg') center/contain no-repeat;
          pointer-events: none;
        }
      }
    }
  }

  &__group-title {
    margin: 0 0 15px;
    font-weight: bold;
    color: $black;
  }

  &__check {
    display: block;
    margin: 0 0 10px;

    &:focus-within {
      outline: 0;
    }
  }

  &__bottom {
    order: 10;
    max-width: 185px;
    margin: 15px auto 0;
    text-align: center;
  }

  &__btn {
    margin: 0 0 30px;
    transition: opacity .5s;
    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }
    &[data-houses-count] {
      &::after {
        margin-left: 5px;
        content: '(' attr(data-houses-count) ')';
      }
    }
  }

  &__reset {
    // margin: 30px 0 0;
    color: $black;
    font-weight: 500;
    font-size: 16px;
  }
}