// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.cases-sect {
  font: 16px/140% Montserrat;
  overflow: hidden;
  &__title {
    margin-bottom: 20px;
  }
  &__link {
    display: inline-block;
    margin-bottom: 20px;
  }
  &__cases {
  }
  &__house {
    width: 280px;
    // height: 240px;
    // margin: 0 20px 0 0;
    margin: 0 responsive('320->575', '20->50') 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.slider-nav {
  margin-top: 20px;
  &__counter {
  }
  &__counter-current {
  }
  &__counter-total {
  }
}