// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero-sect {
  margin: -40px 0 50px;
  &__slide {
    padding: 0 calc(50vw - 268px) 13vh;
  }
  // padding-top: 130px;
  &__text-block {
    // max-width: none;
    // padding: 50px 60px 40px 20px;
    // background: rgba(51, 51, 51, 0.7);
  }
  &__title {
    // font-size: 34px;
  }
  &__descr {
    max-width: 60%;
  }
  &__btn {
  }
}