// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.zoom-popup {
  padding: 0;
  cursor: zoom-out;
  &__cnt {
    padding: 0;
    max-height: calc(100vh - 75px);
    max-height: calc(var(--vh, 1vh) * 100 - 75px);
    cursor: default;
  }
  &__close {
    position: fixed;
    left: calc(100vw - 22.5px);
    top: 0;
  }
  &__img {
    max-width: 150vw;
    max-height: inherit;
  }
}