// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.house-sect {
  &__sliders {
    width: 770px;
  }
  &__gallery {
    &-nav {
      width: 300px;
      padding: 0 35px;
      > .slider-nav__counter {
        // margin: 0 20px;
      }
    }
    &-bottom {
      width: 470px;
    }
  }
  &__img {

  }
  &__title {

  }
  &__descr {
    &-block {
      margin-top: 75px;
    }
  }
  &__list {

    &-item {

      &-text {

        &:first-of-type {

        }
        &:last-of-type {

        }
      }
      &-dots {

      }
    }
  }
  &__prices {}

  &__price {
    &:first-child {
      margin: 0 40px 0 0;
      padding: 0 40px 0 0;
    }
  }

  &__price-num {}

  &__price-text {}
}

.house-slider {
  height: 520px;
  &__prev,
  &__next {
    width: 60px;
  }
  > .slick-list,
  > .slick-list > .slick-track {

  }
  &__img {

  }
}


.house-nav {

  &__img {
    width: 110px;
    height: 110px;
    &.active {

    }
  }
}

.house-slider__prev,
.house-slider__next {
  > .arrow__svg {
    fill: $black;
  }
}