// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-sect {
  &__title {}

  &__descr {}
}

.contacts-form {
  width: 820px;

  &__field {
    width: 360px;
  }

  &__field_name {}

  &__field_tel {}

  &__field_email {}

  &__files-upload-block {}

  &__bottom {}

  &__btn {}
}



.contacts-sect {
  &__contacts {
    margin-left: 60px;
  }

  &__title {}
}

.sect-title {}

.contacts-block {
  &__img {}

  &__text {}
}