// assets import
@import '../../scss/assets/colors';

.container {
  padding: 0 20px;
  flex-shrink: 0;
}

.sect {
  margin: 35px 0;
  padding: 35px 20px;
  color: $black;
  flex-shrink: 0;

  +.ftr {
    margin: -35px 0;
  }
}


@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 268px);
  }

  .sect {
    margin: 40px 0;
    padding: 40px calc(50% - 268px);

    +.ftr {
      margin: -40px 0;
    }
  }


}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 344px);
  }

  .sect {
    padding: 40px calc(50% - 344px);
  }
}

@media (min-width: 1023.98px) {
  .container {
    padding: 0 calc(50% - 470px);
  }

  .sect {
    margin: 45px 0;
    padding: 45px calc(50% - 470px);

    +.ftr {
      margin: -45px 0;
    }
  }


}

@media (min-width: 1439.98px) {
  .container {
    padding: 0 calc(50% - 620px);
  }

  .sect {
    margin: 50px 0;
    padding: 50px calc(50% - 620px);

    +.ftr {
      margin: -50px 0;
    }
  }


}