
.container {
  padding: 0 20px;
}
.sect {
  padding: 25px 20px;
}
@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 268px);
  }
  .sect {
    padding: 35px calc(50% - 268px);
  }
}
@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 344px);
  }
  .sect {
    padding: 40px calc(50% - 344px);
  }
}
@media (min-width: 1023.98px) {
  .container {
    padding: 0 calc(50% - 470px);
  }
  .sect {
    padding: 45px calc(50% - 470px);
  }
}
@media (min-width: 1439.98px) {
  .container {
    padding: 0 calc(50% - 620px);
  }
  .sect {
    padding: 50px calc(50% - 620px);
  }
}