// assets import
@import '../../scss/assets/colors';

.container {
  padding: 0 20px;
  flex-shrink: 0;
}

.sect {
  padding: 40px 20px;
  color: $black;
  flex-shrink: 0;

  &_bg {
    margin: 40px 0;
    padding: 40px 20px;
    flex-shrink: 0;

    +.ftr {
      margin: -40px 0;
    }
  }
}


@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 268px);
  }

  .sect {
    padding: 50px calc(50% - 268px);

    &_bg {
      margin: 50px 0;

      +.ftr {
        margin: -50px 0;
      }
    }
  }
}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 344px);
  }

  .sect {
    padding: 60px calc(50% - 344px);

    &_bg {
      margin: 60px 0;
      padding: 60px calc(50% - 344px);

      +.ftr {
        margin: -60px 0;
      }
    }
  }
}

@media (min-width: 1023.98px) {
  .container {
    padding: 0 calc(50% - 470px);
  }

  .sect {
    padding: 80px calc(50% - 470px);

    &_bg {
      margin: 80px 0;
      padding: 80px calc(50% - 470px);

      +.ftr {
        margin: -80px 0;
      }
    }
  }
}

@media (min-width: 1439.98px) {
  .container {
    padding: 0 calc(50% - 620px);
  }

  .sect {
    padding: 80px calc(50% - 620px);

    &_bg {
      padding: 80px calc(50% - 620px);
    }

  }
}