// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.hdr__nav-list-item:hover,
.ftr__nav-list-item:hover {
  border-bottom-color: $beige;
}

.btn_yellow:hover {
  background: $green;
  // border-color: $green;
}

.btn_green:hover {
  background: $yellow;
  // border-color: $yellow;
  color: $darkgrey;
}

.text_underline:hover,
.link__text:hover {
  border-bottom-color: transparent;
}

.arrow:hover {
  color: $green;
}

.turnkey-sect__btn:hover {
  color: $green;
}

.quiz__radio:hover > .quiz__radio-inp {
  background: $black;
  box-shadow: inset 0 0 0 5px $white;
  transition: box-shadow .5s, border-color .5s, background 0s 0s;
}

.post__link:hover,
.post__link:hover +.post__link {
  color: $green;
}

.close:hover {
  stroke: $green;
}