// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.hdr__nav-list-item:hover,
.ftr__nav-list-item:hover {
  border-bottom-color: $beige;
}

.btn_yellow:hover {
  background: $green;
  // border-color: $green;
}

.btn_green:hover {
  background: $yellow;
  // border-color: $yellow;
  color: $darkgrey;
}

.text_underline:hover,
.link__text:hover {
  border-bottom-color: transparent;
}

.arrow:hover {
  color: $green;
}