// assets import
@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.nav__link:hover {
  border-bottom-color: $beige;
}

.btn_yellow:hover {
  background: $green;
  // border-color: $green;
}

.btn_green:hover {
  background: $yellow;
  // border-color: $yellow;
  color: $darkgrey;
}

.text_underline:hover,
.link:hover > .link__text {
  border-bottom-color: transparent;
}

.link:hover > .link__arrow {
  transform: translateX(5px);
}

.arrow:hover {
  color: $green;
}

.turnkey-sect__btn:hover {
  color: $green;
}

.quiz__radio:hover > .quiz__radio-inp {
  background: $black;
  box-shadow: inset 0 0 0 5px $white;
  transition: box-shadow .5s, border-color .5s, background 0s 0s;
}

.post__link:hover,
.post__link:hover +.post__link {
  color: $green;
}

.close:hover {
  color: $green;
}

.breadcrumbs__link:hover {
  border-bottom-color: currentColor;
}

// .house:hover .house__img {
//   transform: scale(1.5);
//   transition: transform 3s linear;
// }