// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  &__logo-text {
    margin-bottom: 20px;
    width: 290px;
  }
  &__logo-img {
    width: 65px;
  }
  &__nav {
    max-width: 325px;
    &-list {
      &-item {
        &:nth-child(odd) {
          margin-right: 65px;
        }
      }
    }
  }
  &__policy {
    margin: 0 0 20px;
  }
  &__dev {
    &-link {
      display: inline-block;
    }
  }
}