// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero-page-sect {
  font-size: 15px;
  &__decor {}

  &__text {}

  &__title {
    margin: 0 0 25px;
    font-size: 28px;
  }

  &__descr {
    &:nth-last-of-type(n+2) {
      
    }
  }

  &__img {}

  &__features {
    display: flex;
    flex-flow: column;
  }

  &__nav {
    order: 10;
  }
}

.feat {
  &__title {}

  &__descr {}
}
